.slider {
  position: relative;
  width: 100%;
  height: 180px;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}

.dot.active {
  background: #ff4d4f;
}
